pandas
numpy==1.24.3
matplotlib
seaborn==0.11.1
plotly==5.15.0
bs4
requests==2.31.0
lxml==4.9.2
#undetected-chromedriver==3.5.0
openpyxl==3.1.2 #test import for HR
nbformat>=4.2.0
tqdm==4.66.1
selenium
scikit-learn
geopy==2.3.0
wordcloud==1.9.2
phik==0.12.3
folium==0.14.0

catboost==1.2
scikit_learn==1.2.2